{
  "name": "<%= repoName %>",
  "description": "<%= repoName %> workspace",
  "version": "0.0.1",
  "dependencies": {},
  "devDependencies": {},
  "patchedDependencies": {
    "react-dom@19.2.7": "patches/react-dom@19.2.7.patch"
  }
}