{
  "name": "<%= repoName %>",
  "description": "<%= repoName %> workspace",
  "version": "0.0.1",
  "scripts": {
    "sync": "akan sync",
    "dev": "akan start",
    "lint": "akan lint",
    "typecheck": "akan typecheck",
    "test": "akan test",
    "setup:agent": "akan agent install all",
    "build": "akan build"
  },
  "dependencies": {},
  "devDependencies": {},
  "patchedDependencies": {
    "react-dom@19.2.7": "patches/react-dom@19.2.7.patch"
  }
}